* {
    font-family: 'Nunito', sans-serif;
    /* color: rgb(232, 255, 250); */
}

.header {
    text-align: center;
    color: rgb(216, 182, 152);
    margin: -8px;
    padding: 0;
    overflow: hidden;
    font-size: 40px;
    height: auto;
}

body {
    background-color: rgb(67, 52, 44);
}

a {
  color: #f5d1a1;
}

.content {
  margin: auto;
  padding: 3%;
  text-align: center;
  background-color: rgb(38, 17, 17);
  color: rgb(255, 232, 211);
  width: 80%;
  border: 0px #000000 solid;
  border-radius: 50px;
}
