#blockwrapthing{
  text-align: center;
}
#epic{
  font-family: 'Roboto Mono', monospace;
  color: white;
}
body {
  background-image: url("wtf.jpg");
}
pre {
  color: white;
}
a {
  color: lightblue;
}
